@import "css/variables.css";

.btn {
  @apply py-2 px-4 rounded;
}

.btn-primary700 {
  background-color: var(--primary700);
  color: white;
}

.btn-primary600 {
  background-color: var(--primary600);
  color: white;
}

.btn-primary500 {
  background-color: var(--primary500);
  color: white;
}

h1 {
  font-size: calc(var(--h1) * 1px);
}

h2 {
  font-size: calc(var(--h2) * 1px);
}

h3 {
  font-size: calc(var(--h3) * 1px);
}
